apiVersion: v1
kind: Service
metadata:
  name: bitscape-api-svc
  labels:
    app: bitscape-api
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: bitscape-api